.shared-css {
    align-items: stretch;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    list-style: none;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}

.box-shadow-left {
    box-shadow: rgba(27, 24, 30, 0.28) -2px 1px 4px;
    width: 3px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.box-shadow-right {
    box-shadow: rgba(27, 24, 30, 0.28) 2px 1px 4px;
    width: 3px;
    z-index: 1;
    background-color: rgb(255, 255, 255);
}
.box-shadow-bottom {
    box-shadow: rgba(27, 24, 30, 0.28) 2px 2px 0px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.detail-cilinic-container {
    .detail-clinic-header {
        .image-background {
            width: 100%;
            position: absolute;
            aspect-ratio: 4.8 / 1;
            margin-bottom: 60px;
            left: 0px;
            right: 0px;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                inset: 0px;
                object-fit: cover;
                color: transparent;
            }
        }
        .title-clinic {
            box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px;
            padding-top: 20px;
            flex-direction: row;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.8);
            .image-avatar {
                width: 112px;
                height: 112px;
                margin-right: 30px;
                margin-left: 30px;
                background-color: rgb(255, 255, 255);
                img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    inset: 0px;
                    object-fit: contain;
                    color: transparent;
                }
            }
            .name-address-clinic {
                flex: 1 1 0%;
                .name-clinic {
                    flex: 1 1 0%;
                    font-size: 26px;
                    color: #474d56;
                    font-weight: 700;
                    margin-bottom: 12px;
                }
                .address-clinic {
                    margin-top: 8px;
                    font-size: 18px;
                    color: #4f5662;
                    font-weight: 400;
                }
            }
        }
    }
    .clinic-nav {
        flex-flow: row wrap;
        position: sticky;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
        .nav-wrapper {
            flex-direction: row;
        }
        ul {
            padding: 5px 30px;
            align-items: stretch;
            background-color: rgba(0, 0, 0, 0);
            border: 0 solid black;
            box-sizing: border-box;
            display: flex;
            flex-basis: auto;
            flex-direction: row;
            flex-shrink: 0;
            flex-grow: 1;
            justify-content: space-between;
            list-style: none;
            margin: 0px;
            min-height: 0px;
            min-width: 0px;
            position: relative;
            text-decoration: none;
            z-index: 0;
            li {
                font-size: 15px;
                text-transform: uppercase;
                color: #28313f;
                font-weight: 600;
                cursor: pointer;
                &.active {
                    color: rgb(255, 194, 14);
                    text-decoration-line: underline;
                }
            }
        }
    }
}
.detail-clinic-content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    .des-endow {
        padding: 15px 20px;
        background-color: rgb(212, 239, 252);
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        width: 1170px;
        text-align: justify;
        font-size: 16px;
        line-height: 1.5;
    }
    .doctor-infor {
        margin-top: 30px;
        .title-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 15px;
            padding-top: 27px;
            margin-bottom: 20px;
            border-bottom: 1.11111px solid #e7e5e5;
            align-items: center;
            .title-small {
                font-size: 24px;
                font-weight: 600;
            }
            .btn-detail {
                padding: 10px 15px;
                background-color: rgb(235, 235, 235);
                transition-duration: 0s;
                text-transform: uppercase;
            }
        }
        .each-doctor {
            background-color: #fff;
            box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
            border-radius: 8px;
            border-bottom: none;
            margin-bottom: 10px;
            display: flex;
            .content-left {
                width: 53%;
                border-right: 1px solid #eee;
                padding-right: 10px;
            }
            .content-right {
                width: 47%;

                .doctor-extrainfor {
                    padding: 0px 15px 15px 15px;
                    border-top: 1px solid #eee;
                    padding-top: 10px;
                    margin-top: 10px;
                }
            }
        }
    }
    .des-intro,
    .des-strengths,
    .des-equipment,
    .des-procedure,
    .des-address {
        margin-right: auto;
        margin-left: auto;
        padding-top: 22px;
        margin-top: 8px;
        width: 1170px;
        font-size: 18px;
        line-height: 27px;
        color: #413e3e;
        li{
            margin-bottom: 4px;
        }
    }
}
.title-des {
    font-weight: bold;
    color: rgb(51, 122, 183);
    font-size: 18px;
    text-transform: uppercase;
    padding: 12px 0;
}
.mess-no-detail{
    min-height: 400px;
    font-size: 18px;
    p{
        padding: 15px 20px;
        background-color: rgb(212, 239, 252);
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        width: 500px;
        text-align: center;
    }
}
