/*
 * General styles
 */
 * {
  margin: 0;
  border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body,
html {
    background-image: "#fff";
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $fontmain;
    font-size: $base-size - 2px;
    height: 100vh;
}


.content-container {
  .title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $base-size + 4px;
    margin-top: 15px;
    color: $colormain;
  }
  .content {
    margin: 15px 30px;
    box-shadow: 2px 2px 4px 0 $box-shadow-color;
    -webkit-box-shadow: 2px 2px 4px 0 $box-shadow-color;
  }
}



body {
  line-height: 1;
}

.color-red{
  color: #fe3834;
}
.min-height-38{
  min-height: 38px;
}
.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 6px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.3);
}
div._loading_overlay_wrapper {
  position: unset;
  }