.select-day {
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin: 0;

    select {
        background: transparent;
        border: none;
        color: #337ab7;
        border-bottom: 1px solid #999;
        border-radius: 0;
        font-weight: bold;
        padding: 3px;
    }
}
.select-time {
    display: block;
    -webkit-transition: display 1s;
    transition: display 5s;
    padding: 0px 15px 15px 15px;
}