.load-image {
    margin-bottom: 0px !important;
    height: 35px;
    line-height: 35px;
    border-radius: 6px;
    cursor: pointer;
    padding: 0 12px;
    width: 80%;
    text-align: center;
    margin-top: 6px;
    background-color: rgb(202, 202, 182);

    span {
        margin-right: 12px;
        display: inline-block;
    }

    svg {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: -4px;
    }
}
.preview-image {
    display: block;
    height: auto;
    min-height: 75px;
    width: 80%;
    border: 2px solid red;
    padding: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}
.table-user {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td {
        .td-image {
            width: 100%;
            height: 39px;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 0;
        }
    }
    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #04aa6d;
        color: white;
        text-align: center;
    }
}

.btn-action {
    background-color: transparent;
    text-align: center;
    width: 100%;

    .icon-btn-edit,
    .icon-btn-delete {
        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer;
    }

    .icon-btn-edit {
        margin-right: 14px;
        color: #28b183;
    }

    .icon-btn-delete {
        color: #c91414;
    }
}
.pagination {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    padding: 0 12px;
    li {
        border-radius: 7px;
        padding: 4px 6px ;
        border: gray 1px solid;
        cursor: pointer;
        margin: 0 12px;
        a{
            text-decoration: none;
        }
        &.active{
            background-color: #0366d6;
            border-color: transparent;
            color: white;
        }
    }

}
