.table-user {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;

    }

    tr:hover {
        background-color: #ddd;
    }

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #04AA6D;
        color: white;
        text-align: center;
    }

}

.btn-action {
    background-color: transparent;
    text-align: center;
    width: 100%;

    .icon-btn-edit,
    .icon-btn-delete {
        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer;
    }

    .icon-btn-edit {
        margin-right: 14px;
        color: #28b183;
    }

    .icon-btn-delete {
        color: #c91414;
    }
}

.btn-create-new-user {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    font-size: 1.2rem;
    color: #f2f2f2;
    background-color: #0071ba;
    border-radius: 5px;

    &:hover {
        background-color: #084e7c;
    }

    svg {
        width: 18px;
        height: 18px;
        margin-right: 6px;
    }
}